{% extends "base.html.twig" %}

{% block title %}Transactions{% endblock %}

{% block body %}
    {% include 'layouts/nav.html.twig' %}
    <div class="container">
        <transactions></transactions>
    </div>
{% endblock %}